<div class="container-fiuld reservations">
    <h4 class="pb-4">予約済みルーム一覧</h4>
    <table>
        <thead>
            <tr align="center">
                <th>ルーム画像</th>
                <th>ルーム名</th>
                <th>ルーム紹介</th>
                <th>合計料金</th>
                <th>開始日</th>
                <th>終了日</th>
                <th>予約確定日時</th>
            </tr>
        </thead>
        <tbody>
            <% @current_user.reservations.each do |reservation| %>
                <tr>
                    <td>
                        <%= link_to("/rooms/#{reservation.room_id}") do %>
                            <img src="<%= reservation.room.thumbnail %>" class="reservations-image" alt="部屋画像" onerror="this.onerror=null;this.src='/assets/room01.jpg';")
                        <% end %>
                    </td>
                    <td class="posts-name">
                        <%= link_to("#{reservation.room.name}", "/rooms/#{reservation.room.id}") %>
                    </td>
                    <td class="content">
                        <%= reservation.room.description %>
                    </td>
                    <td class="price-icon">
                        <%= reservation.total_amount %>
                    </td>
                    <td>
                        <%= reservation.start %>
                    </td>
                    <td>
                        <%= reservation.end %>
                    </td>
                    <td>
                        <%= reservation.created_at %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>