<div class="container reservations-new">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="reservations-new-nav">
                <h4 class="reservations-new-check-content">予約内容確認</h4>
                <h5 class="price-icon"><%= @room.price %> / 日</h5>
                <div class="reservations-new-date-select">
                    <form class="new_reservation" id="new_reservation" action="/reservations/create" accept-charset="UTF-8" method="post">
                        <input type="hidden" name="authenticity_token">
                        <input type="hidden" value="<%= @room.id %>" name="reservation[room_id]" id="reservation_room_id">
                        <label for="start_date">開始日</label>
                        <input class="form-control mb-4" readonly="readonly" type="text" value="<%= @reservation.start %>" name="reservation[start_date]" id="reservation_start_date">
                        <label for="end_date">終了日</label>
                        <input class="form-control mb-4" readonly="readonly" type="text" value="<%= @reservation.end %>" name="reservation[end_date]" id="reservation_end_date">
                        <h6 class="reservations-new-check-content">使用日数 : <%= @reservation_count %>日</h6>
                        <h6 class="reservations-new-check-content">人数 : <%= @reservation.person_count %>人</h6>
                        <input type="hidden" value="<%= @reservation.person_count %>" name="reservation[person_count]" id="reservation_person_count">
                        <label for="total_amount">合計金額</label>
                        <input class="form-control mb-4" readonly="readonly" type="text" value="<%= @total_price %>" name="reservation[total_amount]" id="reservation_total_amount">
                        <p class="reservations-new-check-content">上記内容でよろしければ「予約を確定」を押してください</p>
                        <input type="submit" name="commit" value="予約を確定" class="btn btn-primary form-control my-3" data-disable-with="予約を確定">
                        <a class="btn btn-secondary form-control" href="/rooms/<%= @room.id %>">ルーム詳細に戻る</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>