<div class="container-fiuld room">
    <h4 class="pb-4">検索結果：<%= @room_count %>件</h4>
    <div class="row">
        <% @rooms.each do |area| %>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="room-frame-inner">
                    <%= link_to("/rooms/#{area.id}") do %>
                        <div class="room-image-out">
                            <img src="<%= area.thumbnail %>" class="room-image" alt="部屋画像" onerror="this.onerror=null;this.src='/assets/room01.jpg';">
                        </div>
                        <div class="room-profile">
                            <p class="room-profile-name"><%= area.name %></p>
                            <p class="room-profile-city"><%= area.address %></p>
                            <p class="room-profile-price price-icon"><%= area.price %></p>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% @rooms.each do |room| %>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="room-frame-inner">
                    <%= link_to("/rooms/#{room.id}") do %>
                        <div class="room-image-out">
                            <img src="<%= room.thumbnail %>" class="room-image" alt="部屋画像" onerror="this.onerror=null;this.src='/assets/room01.jpg';"＞
                        </div>
                        <div class="room-profile">
                            <p class="room-profile-name"><%= room.name %></p>
                            <p class="room-profile-city"><%= room.address %></p>
                            <p class="room-profile-price price-icon"><%= room.price %></p>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>